.business-color {
  background-color: #346db6;
  height: 300px;
}
.Business-subTitle {
  font-size: 16px;
  color: #f8f9fa;
  font-weight: 700;
  margin: 20px 0px 20px 0px;
}
.explore-button {
  background: #ff6f00 !important;
  color: #fff !important;
  font-size: 14px;
  border: 1px solid #ff6f00 !important;
  padding: 10px;
  font-weight: 700;
  margin-top: 20px;
}
.business-img {
  height: 300px;
  text-align: left;
  margin-left: -45%;
}
.col-lg-6 {
  width: 50%;
}
.business-card {
  padding-left: 5%;
  padding-top: 5%;
}
