h1,
p {
  font-family: Lato;
}
.nav-link {
  color: white !important;
  display: block;
  padding: 0.5rem 1rem;
}
.form-control {
  background-color: #0000 !important;
}
.bg-dark {
  background-color: #000 !important;
}
.login-button {
  background: #ff6f00 !important;
  color: #fff !important;
  font-size: 14px;
  border: 1px solid #ff6f00 !important;
  padding: 10px;
  font-weight: 700;
}
.career-ass-footer {
  bottom: 0;
  background-color: #000;
  min-height: 45px;
  position: fixed;
  width: 100%;
  z-index: 1100;
}
.text-white {
  color: #fff !important;
}
.flex-vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.jumbo-container {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 10%;
  padding-left: 10%;
}
.card-container {
  margin-top: -8%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  margin-bottom: 5%;
}
.card-row {
  display: flex;
}
