h1,
p {
  font-family: Lato;
}
.home-container {
  background-color: whitesmoke;
}
.nav-link {
  color: white !important;
  display: block;
  padding: 0.5rem 1rem;
}
.form-control {
  background-color: #0000 !important;
}
.bg-dark {
  background-color: #000 !important;
}
.login-button {
  background: #ff6f00 !important;
  color: #fff !important;
  font-size: 14px;
  border: 1px solid #ff6f00 !important;
  padding: 10px;
  font-weight: 700;
}
.career-ass-footer {
  bottom: 0;
  background-color: #000;
  min-height: 45px;
  position: fixed;
  width: 100%;
  z-index: 1100;
}
.text-white {
  color: #fff !important;
}
.flex-vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.jumbo-container {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 10%;
  padding-left: 10%;
}
.card-container {
  margin-top: -7%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}
.card-row {
  display: flex;
}
.trendingTable-container {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05) !important;
  color: #000;
  border: none !important;
}
.bg-white {
  background: #fff !important;
  color: black;
  border: none !important;
}
.knowmore-button {
  background-color: #fff;
  color: #ff6f00;
}
.training-industry-container {
  padding-bottom: 5%;
  padding-left: 11%;
  padding-right: 10%;
  text-align: center;
}
.training-industry-card {
  width: 33% !important;
  height: 100%;
  margin-right: 0%;
  margin-left: 0%;
  margin-top: 2%;
  text-align: left;
  padding: 1% 2% 1% 2%;
  border: none;
}
.training-industry-card:hover {
  z-index: 2;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
  background: #fff;
  box-shadow: 0 2px 2px 0 rgb(35 31 32 / 15%);
}
.industry-title {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 2%;
}

.icon-image {
  width: 30%;
}
.testimonial-container {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.testimonial-card {
  width: 30%;
  margin-left: 2%;
  height: 100% !important;
  margin-right: 1%;
  padding-bottom: 5%;
}
.alumni-head {
  text-align: center;
}
.alumni-container {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-top: 0%;
}
.alumni-icon {
  width: 75px;
  height: 75px;
  z-index: 5;
  box-shadow: 1px 4px 6px 1px #aaa;
  border-radius: 50%;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  margin-left: 5%;
  margin-right: 5%;
}
.alumni-images {
  width: 100%;
  padding-top: 20%;
}
.about-container {
  padding-bottom: 4%;
}
.about-page {
  background-color: #394146;
  color: #ff6f00;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 1%;
  font-size: 18px;
  font-weight: 700;
}
a {
  color: #ff6f00 !important;
}
.social-icon {
  margin-left: 2%;
  width: 6%;
  border: 2px solid white;
  border-radius: 25px;
  margin-top: 3%;
}
.about-link {
  margin-left: 10%;
}
.link-div {
  padding-top: 5%;
  padding-bottom: 5%;
}
.copy-rights {
  padding-top: 3%;
  padding-bottom: 3%;
}
.country-dropdown {
  padding: 2% 2% 2% 2%;
  margin-left: 3%;
  background-color: #394146 !important;
  color: white;
  width: 25%;
  border-radius: 3%;
}
.country-dropdown:hover {
  background-color: #394146 !important;
}
