h1,
p {
  font-family: Lato;
}
.nav-link {
  color: white !important;
  display: block;
  padding: 0.5rem 1rem;
}
.form-control {
  background-color: #0000 !important;
}
.bg-dark {
  background-color: #000 !important;
}
.login-button {
  background: #ff6f00 !important;
  color: #fff !important;
  font-size: 14px;
  border: 1px solid #ff6f00 !important;
  padding: 10px;
  font-weight: 700;
}
.career-ass-footer {
  bottom: 0;
  background-color: #000;
  min-height: 45px;
  position: fixed;
  width: 100%;
  z-index: 1100;
}
.text-white {
  color: #fff !important;
}
.flex-vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.jumbo-container {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 10%;
  padding-left: 10%;
}
.card-container {
  margin-top: -8%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}
.card-row {
  display: flex;
}
.trendingTable-container {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05) !important;
  color: #000;
  border: none !important;
}
.bg-white {
  background: #fff !important;
  color: black;
  border: none !important;
}
.knowmore-button {
  background-color: #fff;
  color: #ff6f00;
}
.training-industry-container {
  padding-bottom: 5%;
  padding-left: 11%;
  padding-right: 10%;
  text-align: center;
}
.training-industry-card {
  width: 33% !important;
  height: 100%;
  margin-right: 0%;
  margin-left: 0%;
  margin-top: 2%;
  text-align: left;
  padding: 1% 2% 1% 2%;
  border: none;
}
.training-industry-card:hover {
  z-index: 2;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
  background: #fff;
  box-shadow: 0 2px 2px 0 rgb(35 31 32 / 15%);
}
.industry-title {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 2%;
}
.industry-description {
}
.icon-image {
  width: 30%;
}
